.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blueColor);
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Assurez-vous que la navbar est au-dessus du contenu */

  div {
    position: relative;

    h1,
    h3 {
      margin: 0;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

    position: relative;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
      opacity: 0; /* Masquer la ligne par défaut */
      transition: opacity 0.3s ease; /* Ajouter une transition en douceur */
    }
  }
  &:hover {
    h1,
    h3 {
      &::after {
        opacity: 1; /* Afficher la ligne au survol */
      }
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    div {
      h1,
      h3 {
        padding: 0.75rem 1.5rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0.5rem;

    div {
      h1,
      h3 {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
